html,body{
    margin: 0;
    padding: 0;
}
body{
    
    height: 200vh;
}
.image{
    top: -9rem;
    position: fixed;
    width: 100vw;
}

.img{
    height: 250px;
}
.card{
    opacity: .75;
    transition: all 0.7s ease-in;
}
.card:hover{
    opacity: 1;
}